:host {
  width: 100%;
  .city-item {
    display: contents;
  }
  td {
    font-size: 16px;
    padding: 4px 0;
  }
  td:first-child {
    font-weight: 600;
  }
  td:nth-child(3) {
    font-size: 12px;
  }
}
