@import "src/assets/scss/colors";
@import "src/assets/scss/variables";

.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange-peel;
  color: white;
}
