$Poppins-Regular: "PoppinsRegular";

$font-size-xxs: 11px;
$font-size-xs2: 12px;
$font-size-s2: 13px;
$font-size-s: 14px;
$font-size-m: 15px;
$font-size-l: 16px;
$font-size-l2: 17px;
$font-size-xl: 21px;
$font-size-pl: 24px;
$font-size-xxl: 27px;
$font-size-50: 50px;
$font-size-60: 60px;
