<div class="input-wrapper">
  <form (submit)="onSubmit()">
    <input type="search" id="site-search" name="q" [(ngModel)]="cityName" />
    <button type="submit">Pretraži</button>
  </form>
</div>
<div class="cities">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>GRAD</th>
        <th>DATUM</th>
        <th>AQI</th>
      </tr>
    </thead>
    <tbody>
      <tr
        app-city-item
        *ngFor="let city of cities; index as i"
        [city]="city"
        [i]="i"
      ></tr>
    </tbody>
  </table>
</div>
