@import "src/assets/scss/variables";

:host {
  width: 66.7%;
  @media only screen and (max-width: 1200px) {
    width: 50%;
  }
  padding-left: $container-separator;
  .no-margin-bottom {
    margin-bottom: 0;
  }
}
