@import "assets/scss/fonts";
@import "assets/scss/font-variables";
@import "src/assets/scss/variables";

$color-path: "src/assets/scss/colors";

html,
body {
  font-family: $Poppins-Regular;
  color: #333;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content-wrapper {
  width: 75%;
  display: flex;
  @media only screen and (max-width: 1200px) {
    width: 98%;
  }
}
.box-shadow {
  border-radius: $border-radius;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
  padding: 16px;
  margin-bottom: 16px;
  height: inherit;
  background-color: #fff;
}
.no-padding {
  padding: 0;
}
.green {
  background-color: #64dd17;
}
.light-green {
  background-color: rgba($color: #64dd17, $alpha: 0.3);
}
.yellow {
  background-color: #ffb73f;
}
.light-yellow {
  background-color: rgba($color: #ffb73f, $alpha: 0.3);
}
.orange {
  background-color: #ffa726;
}
.light-orange {
  background-color: rgba($color: #ffa726, $alpha: 0.3);
}
.pink {
  background-color: #e91e63;
}
.light-pink {
  background-color: rgba($color: #e91e63, $alpha: 0.3);
}
.purple {
  background-color: #ab47bc;
}
.light-purple {
  background-color: rgba($color: #ab47bc, $alpha: 0.3);
}
.deepPurple {
  background-color: #4a148c;
}
.light-deep-purple {
  background-color: rgba($color: #4a148c, $alpha: 0.3);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 5px;
}
