@import "src/assets/scss/variables";

:host {
  .box-shadow {
    @media only screen and (max-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.limits {
  display: flex;
  flex: 1;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}
.limit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
  width: 100%;
  .limit-name {
    padding-bottom: 4px;
  }
  .limit-color {
    padding-bottom: 4px;
  }
  &:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    @media only screen and (max-width: 768px) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    @media only screen and (max-width: 768px) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
